// -----------------------------------------------------------------------------
// This file contains styles that are specific to the error page.
// -----------------------------------------------------------------------------

body.error404 {}
