// -----------------------------------------------------------------------------
// This file contains styles that are specific to the search page.
// -----------------------------------------------------------------------------

body.search {}
